:root {
  --background: #161616; /* Default dark mode background color */
  --text: rgb(228, 228, 228); /* Default dark mode text color */
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.5s, color 0.5s;
}

.light-mode {
  --background: white; /* Light mode background color */
  --text: black; /* Light mode text color */
}

.App {
  text-align: center;
  background: #161616;
}

.App-logo {
  width: 132px;
  pointer-events: none;
}

.App-header {
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.deposit-button {
  background: grey !important;
  text-transform: none !important;
  flex: 3;
  color: white !important;
}

.btn_buy {
  /* background: transparent !important; */
  /* background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%) !important; */
  /* border: 1px solid grey !important; */
  color: rgb(209, 209, 209) !important;
  border: solid 1px #282828 !important;
  font-weight: bolder !important;
}

.deposited-button {
  background: black !important;
  text-transform: none !important;
  flex: 3;
  color: white !important;
}

.main-btn {
  background: rgb(228, 228, 228) !important;
}

.connect-btn {
  background: rgb(255, 255, 255) !important;
  border-radius: 0px !important;
  color: rgb(0, 0, 0) !important;
  text-transform: none !important;
  font-weight: bolder!important;
  font-size: 0.875rem!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ss {
  /* background:red!important; */
  max-width: 19% !important;
  background: #1C1C1C !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  border: solid #282828 1px !important;
}

.ss:hover {
  background:linear-gradient(rgb(255 255 255 / 20%) 0%, #00000021 100%) !important;
  /* box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #fff */
}

.gridspace {
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;

}

.gridbox {
  background: #161616 !important;
}

.boxtop {
  background: transparent !important;
  /* background: #1C1C1C !important; */
  /* background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%)!important; */
}

.boxbot {
  /* background:rgb(40,40,40)!important; */
  background: transparent !important;
  /* background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%)!important; */
}

.pill-wrap {
  /* background: #1c1c1c!important; */
  /* background: #ff980014 !important; */
  font-size: 0.8rem !important;
  padding: 3px 10px !important;
  line-height: 1 !important;
  /* color: black!important; */
  border-radius: 11px !important;
  border: solid 1px #fffefb4d !important;
}

.pill-wrap2 {
  /* background: #1c1c1c!important; */
  background: #383838 !important;
  font-size: 0.8rem !important;
  padding: 3px 10px !important;
  line-height: 1 !important;
  /* color: black!important; */
  border-radius: 11px !important;
  border: solid 1px #282828 !important;
}

.gridspace {
  grid-gap: 14px !important;
  display: flex !important;
  /* align-content: center; */
  justify-content: center !important;
  align-items: center !important;
}

.num {
  border: solid 1px #282828 !important;
}

.MuiPagination-ul button{
  color: white!important;

}

.MuiPagination-ul div{
  color: white!important;

}

.css-ll0ml8-MuiTypography-root{
  color: white;
  font-weight: bolder;
}

.MuiPagination-ul li {
  border: solid 1px #282828 !important;
  color: white !important;
}

/* .css-wjh20t-MuiPagination-ul li button {
  color: white !important;
} */

/* .css-wjh20t-MuiPagination-ul li div {
  color: white !important;
} */

.MuiPagination-ul {
  align-items: stretch !important;
}

/* .css-1oqqzyl-MuiContainer-root {
  max-width: 1500px !important;
} */

.mainCotainer{
  max-width: 1500px !important;
}

.MuiContainer-root {
  padding: unset !important;
}

/* .css-heg063-MuiTabs-flexContainer {
  display: flex !important;
  flex-direction: row !important;

  column-gap: 20px !important;
} */

/* .tab-space{
  display: flex !important;
  flex-direction: row !important;
  column-gap: 20px !important;

} */


/* .css-1ujnqem-MuiTabs-root {
  padding-bottom: 1.5em !important;
} */

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  border: solid 1px #282828 !important;
  border-radius: 5px !important;
  font-weight: bolder !important;
  min-width: 100px !important;
  position: relative;
  min-height: 42px !important;
} */

.sidebtns{
  border: solid 1px #282828 !important;
  border-radius: 5px !important;
  font-weight: bolder !important;
  min-width: 100px !important;
  position: relative;
  min-height: 42px !important;
  margin-left: 10px!important;
  color: grey!important;

}

.sidebtns.Mui-selected{
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%) !important;
  border-radius: 5px;
  overflow: hidden;
  color: white !important;
  border: solid 1px #282828 !important;
  /* box-shadow: 0 0 100px #ffffff, 0 0 20px #ffffff, 0 0 2px #ffffff, 0 0 2px #fff */
  font-weight: bolder !important;
  min-width: 100px !important;
  position: relative;
  min-height: 42px !important;

}

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%) !important;
  border-radius: 5px;
  overflow: hidden;
  color: white !important;
  border: solid 1px #282828 !important;
  
  font-weight: bolder !important;
  min-width: 100px !important;
  position: relative;
  min-height: 42px !important;
} */

/* .MuiButtonBase-root-MuiTab-root {
  color: grey !important;
} */

.MuiTabs-indicator {
  background: transparent !important;

}

.MuiBox-root .css-0 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 1.5em !important;
  padding-top: 1em!important;

}

.css-10zunq2{
  width: unset!important;
  padding-left: 33px;
  padding-right: 33px;
}

select {
  background: white !important;
  /* background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255 87 34 / 27%) 100%) !important; */
  border: solid 1px #ffffff !important;
  border-radius: 5px !important;
  -moz-appearance: none;
  -webkit-text-decoration: none;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
  max-width: 360px !important;
  min-width: 90px !important;
  position: relative !important;
  padding: 12px 16px !important;
  overflow: hidden !important;
  text-align: center !important;
  flex-direction: column;
  color: #000000 !important;
  font-weight: bolder !important;
  position: relative;
  min-height: 42px !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.css-1fw5qro-MuiPaper-root {

  background: #1C1C1C !important;

}

.css-1ex1afd-MuiTableCell-root {
  border-bottom: 1px solid rgb(50 50 50) !important;
  color: rgb(255 255 255 / 100%) !important;

}

.css-177gid-MuiTableCell-root {
  border-bottom: 1px solid rgb(50 50 50) !important;
  color: rgb(255 255 255 / 100%) !important;

}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  color: white !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: rgb(255 255 255 / 29%) !important;

}

.css-y8ay40-MuiTableCell-root {
  font-weight: bolder !important;
}

.css-i02g0k-MuiTableCell-root {
  font-weight: bolder !important;
}


/* CustomDropdown.css */
.custom-dropdown {
  position: relative;
  width: 85px;
}

.dropdown-header {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.selected-option {
  display: flex;
  justify-content: space-between;
}

.placeholder {
  color: #888;
}

.dropdown-panel {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 5px;
  row-gap: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 100%; */
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-option {
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  column-gap: 3em;
  height: 85px;
  background: #efefef;
  border-radius: 5px;
  position: relative;
  align-items: center;
}

.selected-option-label {
  font-size: 14px;
}

.selected-option-details {
  font-size: 14px;

}

.arrow-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank{
  font-size: 0.5em;
  position: absolute;
  top: 3%;
  left: 3%;
}

.slabel{
  font-weight: bolder !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
}

.label{
  font-weight: bolder !important;
  font-size: 1rem !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;

}

.percentage{
  font-weight: bolder !important;
  font-size: 0.8rem !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
  color: orangered;

}

.grpDetails{
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  align-items: flex-end;
}

.cap{
  font-weight: bolder !important;
  font-size: 1.3rem !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important
}

.sats{
  font-weight: 200 !important;
  font-size: 0.7rem !important;
  letter-spacing: 0.02857em !important;
}

/* Add more styles as needed */

/* MOBILE */

@media only screen and (max-width: 768px) {
  .gridspace {
    grid-template-columns: repeat(2, 1fr)!important;
    display: grid!important;
  }
  .ss{
    max-width: 100%!important;
  }
  .MuiBox-root{
    /* display: flex!important; */
    justify-content: space-between!important;
    flex-wrap: nowrap!important;
    /* flex-direction: column-reverse!important; */
    align-content: flex-start!important;
    row-gap: 21px;
    /* padding:25px!important; */
}
.css-heg063-MuiTabs-flexContainer{
  column-gap: 15px !important;
}
.sidebtns{
  margin: 0!important;
}
.MuiTabs-root .sidebtns:nth-child(2) {
 margin-left: 12px;
 margin-right: 12px;
}

}